.footer__column-link{
  display:flex;
  margin:0;
  align-items: center;
  line-height: 30px;
  font-size:18px;
  font-weight: normal;
  color:white;
  text-decoration: none;
}
.footer__column-link:hover{
  opacity: .8; 
}