/*Боюсь у меня есть огромные проблемы с интернетом(живу в китае) и проверить правильность работы ссылки у меня нет возможности*/
.video{
  display: flex;
  flex-direction: column;
  margin: 100px auto 0;
  align-items: center;
}