.kaufman__triangle{
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding:0;
  position: absolute;
  right:-240px;
  top: 0;
  z-index: -1;
  animation: rotate;
}