.header__main-illustration{
  /*не уверен почему, но заданная ширина картинки в тз оказалась черезмерно большой для этого блока из-за чего я уменьшил длинну блока, чтобы туда укладывалась только картинка без пустого места в комплекте*/
  width: 715px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  bottom:0;
  right:0;
  z-index:1;

}